/* Give your page a fun background color */
body {
    background-color: lightblue;
}

/* Make the header and footer a different color from the background */
header, footer {
    background-color: whitesmoke;
    padding: 5px;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}

/* Make your p tag a different color and italic */
p {
    color: darkblue;
    text-align: center;
    font-style: italic;
}

/* Put a border around your image */
figure {
    background-color: antiquewhite;

    border-style: groove;
    border-width: 3px;
    border-color: gray;

    padding: 3px;
    margin-left: 20%;
    margin-right: 20%;
}

figcaption {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: groove;
    border-color: gray;
    border-width: 5px;
}

/* Change the font-family of your list */
li {
    font-family: Verdana;
}